= "プログル技術を\n"
= "ご利用いただきありがとうございます。\n"
= "メールアドレスはまだ変更されておりません。\n"
= "下記のURLにアクセスして，メールアドレスの変更を完了させてください。\n\n"

= sensei_confirm_email_url(token: @teacher.email_confirmation_token)

= "\n\n※もしこのメールにお心当たりがない場合，誠に恐れ入りますが, 破棄して頂けますよう, よろしくお願い致します。\n"
= "※このメールは送信専用メールアドレスから配信しております。このメールに直接ご返信いただいてもお返事ができません。あらかじめご了承ください。"
