= "このたびは， プログル技術を\n"
= "ご利用いただきありがとうございます。\n"
= "パスワードリセットのリクエストを受け取りました。\n"
= "下記のURLをクリックして，パスワードリセット画面にアクセスしてください。\n\n"

= edit_sensei_teacher_password_url(@user, token: @user.confirmation_token.html_safe)

= "\n\n※もしこのメールにお心当たりがない場合，誠に恐れ入りますが, 破棄して頂けますよう, よろしくお願い致します。\n"
= "※このメールは送信専用メールアドレスから配信しております。このメールに直接ご返信いただいてもお返事ができません。あらかじめご了承ください。"
