.center {
  text-align: center;

  img {
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(163, 119, 119, 0.32);
  }
}

.description {
  font-size: 16px;

  span {
    font-weight: bold;
    padding: 0 3px;
  }
}

