@import 'common/styles/variables.scss';

p.designAreaTitle {
  background: $gray-2;
  border-radius: 6px 6px 0 0;
  display: inline-block;
  padding: $space-m $space-m $space-xs;
}

p.windowButton {
  font-size: 20px;
  color: #e6e6e6;
  user-select: none;
}

.messageBoardTitle {
  padding: $space-xl $space-xl 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.tabButton {
  border: 0;
  padding: 0;
  margin: 0 5px;

  :hover {
    color: white;
    background-color: $blue-1;
  }

  .active {
    color: white;
    background-color: $blue-1;
  }
}
