.iconImage {
  width: 100%;
  height: 100%;
}

.profileIcon {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.balloon {
  flex: 1;
}

.message {
  word-break: break-all;
  min-height: 20px;
}

.createdAt {
  padding: 0 10px;
}

.userNumber {
  padding: 0 10px 0 0;
}

.sendCreatedAtSenderWrap {
  text-align: right;
}

.receiveCreatedAtSenderWrap {
  text-align: left;
}

.sendImageWrap {
  text-align: right;
  position: relative;
}

.receiveImageWrap {
  text-align: left;
  position: relative;
}

.sendImage {
  position: absolute;
  right: 0;
}

.receiveImage {
  position: absolute;
  left: 0;
}


