/* Color */
$blue-1: #0b77d4;
$light-blue-1: #c7e5ff;
$accent-color: #ff9900;
$accent-text-color: #c57b0a;
$gray-1: #f5f5f5;
$gray-2: #dedede;
$gray-3: #b9b9b9;
$lesson-bg: #e9ebee;
$black: #2d2d2d;

/* Spacing */
$space-xs: 4px;
$space-s: 8px;
$space-m: 12px;
$space-l: 16px;
$space-xl: 20px;
$space-xxl: 24px;

/* Text Styles */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$line-height-s: 1.5;

/* lesson color */
$lesson-1-primary: #23b16a;
$lesson-1-secondary: #def4e3;
$lesson-2-primary: #007feb;
$lesson-2-secondary: #ddefff;
$lesson-3-primary: #ff2800;
$lesson-3-secondary: #ffece8;
$lesson-4-primary: #E86412;
$lesson-4-secondary: #fce4a9;
$lesson-5-primary: #6e2fc3;
$lesson-5-secondary: #e8d6ff;
