javascript:
  !function(){
    var passwordCheckbox = document.getElementById("#{checkbox_id}");
    var passwordForm = document.getElementById("#{password_form_id}");
    passwordCheckbox.addEventListener("click", function(e) {
      if (e.target.checked) {
        passwordForm.setAttribute("type", "text");
      } else {
        passwordForm.setAttribute("type", "password");
      }
    });
  }();
